.logo {
    width: 215px;
    height: auto;
    border-radius: 50%;
    object-fit: cover;
}

.logo-container {
    text-align: center;
    margin-bottom: 20px;
}

section {
    border: none;
    height: 30px;
    width: 300px;
    background-color: #EFECEC;
    border-radius: 5px;
}

.button {
    background-color: #00BF61;
    color: #fff;
    border: none;
    width: 300px;
    height: 40px;
    border-radius: 5px;
    font-family: 'Poppins';
    font-weight: 600;
    font-style: normal;
}

.formulario {
    max-width: 300px;
    margin: 0 auto;
}

.parrafo {
    font-family: 'Poppins';
    font-weight: 300;
    font-style: normal;
}